form {
    width: 500px;
    margin: auto;
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: block;
    height: 50px;
    width: 100%;
    background: hotpink;
    border: 3px solid red;
    text-align: center;
}

input[type=radio]+label:hover {
    background: green;
}

input[type=radio]:checked+label {
    background: teal;
}